.buttonsContainer {
    display: flex;
    justify-content: space-between;
}

.responseContainer {
    margin-bottom: 20px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.imageContainer {
    margin-right: 50px;
}

.image {
}

.textContainer{
}

.code {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 500;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;

}

.text {
}
.info {
}