.spanBlock {
    display: flex;
    margin-bottom: 24px;
}

.span {
    font-weight: 600;
}

.input {
    height: 36px;
    width: 372px;
    padding: 8px 8px 8px 24px;
    outline: none;
    margin-bottom: 16px;
}

.pen {
    margin-right: 20px;
}